@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-light-gray);
}

/* DARK THEME COLORS STARTS */

body.dark {
  background-color: var(--bg-gray-dark-theme);
}

body.dark .navbar {
  background-color: var(--bg-dark-navbar);
  color: var(--color-white);
}

body.dark .category h2 {
  color: var(--color-black);
}

body.dark .footer {
  background-color: var(--bg-dark-navbar);
  color: var(--color-white);
}
body.dark .theme-container {
  color: var(--color-black);
}

body.dark .cart-icon {
  color: var(--color-black);
}

body.dark .about-us {
  background-color: var(--bg-black);
  color: var(--color-true-white);
}

body.dark .small-img img {
  border: 5px solid var(--border-dark);
}

body.dark .right-side-content img {
  border: 5px solid var(--border-dark);
}

body.dark .third-container video {
  border: 3px solid var(--border-dark);
}

body.dark .left-side-imag img {
  border: 5px solid var(--border-dark);
}

/* DARK THEME COLORS ENDS */

::selection {
  background-color: var(--bg-blue);
  color: var(--color-whitesmoke);
}

/* VARIABLE OF CSS */

:root {
  /* LIGHT MODE VARIABLES */

  /* Colors */
  --color-whitesmoke: whitesmoke;
  --color-green: #34d399;
  --color-dark-green: #059669;
  --color-red: rgb(255, 0, 0);
  --color-dark-gray: #2d3748;
  --color-light-green: rgb(36, 212, 36);
  --color-light-gray: #a0aec0;
  --color-black: #000000;
  --color-bright-red: red;
  --color-white: #fff;
  --color-true-white: #ffffff;
  --color-true-black: black;
  --color-gray: rgb(152, 148, 148);
  --color-smooth-gray: #e6e2e2;
  --color-gray-border: #ccc;
  --color-recipe-heading: #8b0000;
  --color-search-bar-border: #ddd;
  --color-gray-border: #787878;

  /* Box Shadows */
  --box-shadow-card: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  --cart-item: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --section-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --section-active-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  /* Background Colors */
  --bg-light-gray: rgb(235, 229, 229);
  --bg-blue: #3833d4;
  --bg-light-pink: #e0cccc;
  --bg-light-gray-opacity: rgb(229, 231, 235 / var(--tw-bg-opacity));
  --bg-light-green: rgb(126, 237, 126);
  --bg-white: white;
  --bg-off-white: #fefcfc;
  --bg-true-white: #ffffff;
  --bg-black: #000000;
  --bg-light-grayish: rgb(202, 199, 199);
  --bg-green: #34d399;
  --bg-color-dark-green: #059669;
  --bg-green-smooth: rgb(52, 211, 153);
  --bg-pinkish-red: rgba(230, 178, 178, 0.7);
  --bg-recipe-page: #f5f5dc;
  --bg-pinkish-button: #ff4785;
  --bg-pinkish-dark-button: #ff69b4;

  /* Fill Star */
  --fill: #ffd700;

  /* DARK MODE COLORS */

  --bg-gray-dark-theme: #c2c0c8;
  --bg-dark-navbar: #946262;
  --border-dark: #fb3500;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--bg-light-pink);
  height: 70px;
  width: 100%;
  position: fixed;
}

.navbar .logo-container {
  width: 318px;
}

.navbar img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.navbar h1 {
  font-size: 40px;
}

.search-container {
  display: inline-flex;
  gap: 10px;
  justify-content: space-around;
  padding-right: 25px;
  width: 318px;
}

.search-bar-container{
  width:190px;
}

.cart-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
}

.cart-icon span{
  position: absolute;
  top: -10px;
  right:-3px;
  font-size: 0.8rem;
  color:var( --color-bright-red);
  background-color: var(--bg-white);
  border-radius: 50%;
  height:20px;
  width:20px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* DARK-MODE SWITCH */

.theme-container p {
  display: none;
}

.dark-mode-switch {
  width: 33px;
  height: 33px;
}

.search-icon {
  position: absolute;
  right: 216px;
  top: 49%;
  transform: translateY(-50%);
  font-size: 18px;
  color: var(--color-black);
}

input[type="search"] {
  padding: 8px 8px 8px 30px;
  border-radius: 20px;
  border: 1px solid var(--color-search-bar-border);
  outline: none;
}

/* CATEGORY */

.category {
  display: flex;
  flex-direction: column;
  padding: 20px;
  padding-top: 7.5rem;
}

.category-buttons {
  display: flex;
  flex-direction: row;
}

.category-buttons button {
  width: 100px;
  height: 40px;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
  margin-left: 0.95rem;
  margin-right: 0.75rem;
  border: none;
  border-radius: 10px;
  font-size: 17px;
}

.category-buttons button:hover {
  cursor: pointer;
}

/* CARD */

.food-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
  padding: 20px;
  transition: all 0.4s ease-in-out;
}

.card {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 320px;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--bg-white);
  box-shadow: var(--box-shadow-card);
}

.container {
  display: flex;
  flex: 2;
  width: 150px;
  align-self: center;
  align-items: center;
}

.food-image {
  width: 100%;
  height: 130px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}

.food-image:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.content {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.heading-details {
  text-align: center;
}

.heading-details h2 {
  font-size: 1.4rem;
}

.price-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--color-green);
}

.rating .star {
  fill: var(--fill);
  font-size: 1.2rem;
}

.description {
  font-size: 0.8rem;
  font-weight: 500;
}

.button-controller {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.go-to-recipe,
.add-to-cart {
  flex: 1;
  padding: 10px;
  border: none;
  background-color: var(--bg-green);
  color: var(--color-black);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.go-to-recipe:hover,
.add-to-cart:hover {
  background-color: var(--bg-color-dark-green);
  color: var(--color-white);
}

/* RECIPE PAGE */
.close-icon1 {
  position: absolute;
  /* top: 3.5rem; */
  right: 2rem;
  cursor: pointer;
  font-size: 2.8rem;
  transition: background-color 0.3s ease;
}

.close-icon1:hover {
  color: var(--color-red);
}
.recipe-page {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  height: calc(100vh - 160px);
  padding: 1.5rem;
  border-radius: 25px;
  background-color: var(--bg-recipe-page);
}

.recipe-page h2 {
  align-self: center;
  font-size: 45px;
  margin-bottom: 1.2rem;
  background-color: var(--color-recipe-heading);
  color: var(--color-white);
}

.recipe-page p {
  font-size: 19px;
  margin-top: 10px;
}

.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 9px;
  margin-top: 2rem;
}

.video-container {
  grid-area: 1/1/2/2;
  width: 750px;
  height: 375px;
  margin-top: 28px;
}

.video-container iframe {
  width: 100%;
  height: 100%;
}

.recipe-details {
  grid-area: 1/2/2/3;
}

.recipe-details h2 {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 2.3rem;
}

.recipe-details ol {
  margin-top: 15px;
  margin-left: 4rem;
  font-size: 1.3rem;
}

.recipe-details ol li::marker {
  content: "☞";
}

.recipe-details ol li {
  margin-left: 1rem;
}

/* FOOTER */

.footer {
  padding: 1.25rem;
  background-color: var(--bg-light-pink);
  color: var(--color-true-black);
}

.footer aside img {
  width: 50px;
  height: 50px;
}

.footer aside p {
  margin-top: 0.5rem;
  font-size: 1.3rem;
}

.copyright {
  margin-top: 1rem;
  text-align: center;
}

.copyright p {
  font-size: 1.1rem;
}

/* CART PANEL */

.cart-panel {
  top: 110px;
  width: clamp(200px, 30%, 600px);
  background-color: var(--bg-white);
  position: fixed;
  height: calc(100vh - 70px);
}

.cart-details {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
}

.cart-heading {
  display: flex;
  margin-top: 1rem;
  height: 10%;
}

.cart-details h3 {
  margin-top: 10px;
  font-size: 1.5rem;
  margin-left: 9.9rem;
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 2rem;
}

.close-icon:hover {
  color: var(--color-red);
}

/*  cart item */

.cart-items {
  flex-grow: 1;
  padding: 10px;
  overflow: auto;
  height: 70%;
}

.empty-cart h3 {
  font-size: 2rem;
  margin-top: 10rem;
  color: var(--color-gray);
  font-weight: 100;
  margin-left: 8rem;
}

.cart-item {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  box-shadow: var(--cart-item);
  border-radius: 8px;
}

.cart-item img {
  width: 3rem;
  height: 3rem;
  margin-right: 20px;
  border-radius: 8px;
}

.cart-item-details {
  flex-grow: 1;
}

.cart-item-details h4 {
  margin: 0;
  font-size: 18px;
  color: var(--color-dark-gray);
}

.cart-item-details h5 {
  margin: 5px 0;
  font-size: 16px;
  color: var(--color-light-green);
}

.cart-item-details .quantity {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.cart-item-details .quantity .minus-icon:hover {
  cursor: pointer;
  color: var(--color-red);
}

.cart-item-details .quantity .plus-icon:hover {
  cursor: pointer;
  color: var(--color-red);
}

.cart-item-details .quantity span {
  font-size: 1.2rem;
  font-weight: 100;
}

.cart-item-details .quantity .minus-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-light-gray);
}

.cart-item-details .quantity .plus-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-light-gray);
}

.delete-icon {
  cursor: pointer;
  font-size: 1.8rem;
  color: var(--color-light-gray);
  margin-bottom: 3.2rem;
}

/* CHECK OUT SUMMARY */

.checkout-summary {
  position: sticky;
  bottom: 0;
  left: 0;
  background-color: var(--bg-off-white);
  padding: 20px;
  z-index: 1;
  height: 20%;
}

.checkout-summary h4 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.checkout-summary h4 span {
  color: var(--color-bright-red);
}

.checkout-summary hr {
  border: 0;
  border-top: 1px solid var(--color-black);
  margin: 10px 0;
}

.checkout-summary .checkout-button {
  background-color: var(--bg-green-smooth);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  width: 88%;
  font-size: 1.2rem;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.checkout-summary .checkout-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* CHECKOUT PAGE */

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  height: calc(100vh - 5rem);
  background-image: url("../public/bg.png");
}

.heading h1 {
  font-size: 2.3rem;
  margin-bottom: 1.2rem;
}

.checkout-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-end;
}

.left-section {
  display: flex;
  flex-direction: column;
  width: 70%;
  gap: 15px;
}

.delivery-section,
.payment-section,
.order-review {
  width: 680px;
}

.delivery-section {
  background-color: var(--bg-true-white);
}

/* DELEVERY SECTION STARTS */

.delivery-section h2 {
  color: var(--color-white);
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.7rem;
  background-color: var(--bg-black);
  cursor: pointer;
}

.option-buttons {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.option-button {
  flex: 1;
  padding: 12px;
  background-color: var(--bg-true-white);
  color: var(--color-black);
  cursor: pointer;
  border: none;
  text-align: center;
  margin: 0 5px;
  box-shadow: var(--section-shadow);
}

.option-button.active {
  background-color: var(--bg-green);
  color: var(--color-white);
  box-shadow: var(--section-active-shadow);
}

.address-section,
.pickup-section {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.address-section .name {
  height: 2.2rem;
  border: 2px solid var(--color-smooth-gray);
}

.Mobile-number {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Mobile-number .number {
  height: 2.2rem;
  border: 2px solid var(--color-smooth-gray);
  width: 15rem;
}

.Mobile-number .email {
  height: 2.2rem;
  border: 2px solid var(--color-smooth-gray);
  width: 24rem;
  margin-left: 1rem;
}

.address-section .address {
  border: 2px solid var(--color-smooth-gray);
}

.error-message {
  color: var(--color-bright-red);
  font-size: 12px;
}

.save-button {
  margin-bottom: 0.5rem;
  margin-left: 33rem;
  font-size: 0.78rem;
  background-color: var(--bg-green);
  color: var(--color-white);
  padding: 10px 10px;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.save-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* PICKUP SECTION STARTS */

.date-picker {
  margin-top: 15px;
}

.custom-datepicker {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--color-gray-border);
  border-radius: 4px;
  cursor: pointer;
}

.pickup-option {
  margin-left: 2rem;
}

.date-picker-container {
  position: relative;
  margin-top: 12px;
}

.clock {
  position: absolute;
  top: 8px;
  right: 29.6rem;
  height: 1.5rem;
  width: 1.5rem;
  cursor: pointer;
}

/* DELEVERY SECTION ENDS */

/* PAYMENT SECTION STARTS   */
.payment-section h2 {
  background-color: var(--bg-black);
  color: var(--color-white);
  height: 40px;
  font-size: 1.6rem;
  font-weight: 800;
  padding: 0.6rem;
  width: 660px;
  cursor: pointer;
}

.payment-section form {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  padding: 1rem;
}

.payment-section hr {
  border: 1px solid var(--color-smooth-gray);
  margin-bottom: 0.5rem;
}

.payment-method {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  flex-wrap: wrap;
}

.payment-method label {
  display: flex;
  flex: 1;
  align-items: center;
  margin-left: 1rem;
}

.payment-method small {
  margin-top: 1.5rem;
}

.payment-method .text {
  flex-basis: 100%;
  margin-left: 30px;
}

.payment-method .images {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
}

.payment-method img {
  margin-left: 10px;
  height: 38px;
}

.review-button {
  width: 100%;
  padding: 10px;
  background-color: var(--bg-green);
  color: var(--color-white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.review-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* PAYMENT SECTION ENDS */

/* ORDER REVIEW SECTION STARTS FROM HERE */

.order-review {
  background: var(--bg-true-white);
}

.order-review h2 {
  background-color: var(--bg-black);
  color: var(--color-white);
  height: 40px;
  font-size: 1.6rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.6rem;
}

.order-info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

.order-info p {
  margin-top: 1rem;
  font-size: 1.2rem;
  word-break: break-all;
  width: 100%;
  box-sizing: border-box;
}

.place-order-button {
  margin-left: 33rem;
  display: flex;
  width: 4rem;
  align-items: flex-end;
  font-size: 0.79rem;
  background-color: var(--bg-green);
  color: var(--color-white);
  text-decoration: none;
  padding: 0.8rem;
  border: none;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.place-order-button:hover {
  background-color: var(--bg-color-dark-green);
}

/* ORDER REVIEW SECTION ENDS */

/* CSS TRANSITION STARTS */

.section-enter {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 500ms ease-out, opacity 700ms ease-out;
}

.section-enter-active {
  max-height: 620px;
  opacity: 1;
}

.section-exit {
  max-height: 620px;
  opacity: 1;
}

.section-exit-active {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 500ms ease-in, opacity 700ms ease-in;
}

/* CSS TANSTION ENDS */

/* CART SECTION STARTS FROM HERE */
.cartpage {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-true-white);
  width: 350px;
  height: calc(100vh - 14rem);
}

.cart-heading1 {
  color: var(--color-true-black);
  font-size: 1rem;
  font-weight: 10;
  padding: 0.7rem;
  background-color: var(--bg-light-grayish);
}

.cart-total {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-total p,
h4 {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  margin: 0;
}

.cart-total h4 span {
  color: var(--color-green);
}
.cart-items-container {
  max-height: 330px;
  overflow-y: auto;
}

.cart-heading2 {
  color: var(--color-true-black);
  font-size: 1rem;
  padding: 0.7rem;
}

.empty-cart1 {
  font-size: 1.5rem;
  margin-top: 7rem;
  color: var(--color-gray);
  font-weight: 10;
  margin-left: 3.8rem;
}

/* CART SECTION ENDS */

/* ABOUT US PAGE STARTS */

/* First Container */
.about-us {
  background-color: var(--bg-true-white);
}

.first-container {
  display: flex;
  flex-direction: row;
  gap: 4rem;
}

.left-side-content {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-top: 2rem;
  width: 55%;
}

.left-side-content .logo {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.about-us-content {
  display: flex;
  flex-direction: column;
}

.about-us-content h3 {
  font-size: 5rem;
  padding-top: 4rem;
  font-weight: 500;
}

.about-us-text p {
  font-size: 1.2rem;
  padding-top: 1rem;
  text-align: justify;
  line-height: 2rem;
}

.small-img {
  display: flex;
  flex-direction: row;
  gap: 55px;
  padding-top: 7rem;
}

.small-img img {
  width: 24.5rem;
  height: 14rem;
  border-radius: 10px;
}

.right-side-content {
  padding-right: 2rem;
  width: 35%;
}

.right-side-content img {
  width: 32.2rem;
  height: 53rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* Second Container */

.second-container {
  display: flex;
  flex-direction: row;
  padding-left: 3.5rem;
  padding-right: 2.5rem;
  padding-top: 5rem;
  gap: 5rem;
}

.second-container p {
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2.2rem;
}

.second-container .highlighted-text {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: right;
}

.third-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5rem;
}

.third-container video {
  height: 40rem;
  width: 71rem;
}

.third-container p {
  padding-top: 2.5rem;
  font-size: 1.2rem;
  line-height: 2.2rem;
  text-align: justify;
  width: 71rem;
}

/* ABOUT US PAGE ENDS */

/* CONTACT US PAGE STARTS */

.contact-us {
  display: flex;
  flex-direction: row;
  padding-top: 5rem;
  gap: 6rem;
}

.left-side-imag {
  padding-left: 3.5rem;
}

.left-side-imag img {
  height: 40rem;
  width: 28rem;
  border-radius: 10px;
}

.contact-us-content {
  display: flex;
  flex-direction: column;
  width: 650px;
  padding: 2.5rem;
  align-items: center;
}

.contact-us-content p {
  font-size: 4rem;
  font-weight: 500;
  text-align: center;
}

.contact-form {
  padding: 2.5rem;
  align-items: center;
}

.form-group {
  display: flex;
  flex-direction: row;
  position: relative;
}

.input {
  height: 2rem;
  width: 25rem;
  padding: 10px 30px 10px 10px;
  margin-bottom: 1.2rem;
  border: none;
  border: 1px solid var(--color-gray-border);
  border-radius: 5rem;
  font-size: 16px;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.textarea {
  height: 10rem;
  width: 25rem;
  padding: 12px 30px 10px 10px;
  margin-bottom: 20px;
  border: none;
  border: 1px solid var(--color-gray-border);
  font-size: 16px;
  border-radius: 1.8rem;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.form-group img {
  padding-top: 0.8rem;
  position: absolute;
  height: 1.5rem;
  width: 1.5rem;
  right: 2rem;
  z-index: 0;
}

.send-button {
  background-color: var(--bg-pinkish-button);
  color: var(--color-black);
  border: none;
  padding: 15px 20px;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 27.8rem;
}

.send-button:hover {
  background-color: var(--bg-pinkish-dark-button);
  color: var(--color-white);
}

/*CONTACT US PAGE ENDS */

/* RESPONSIVE CODE*/

@media (max-width: 768px) {
  /* NAVBAR */

  .navbar {
    position: static;
    flex-direction: row;
    padding: 10px;
    height: auto;
  }

  /* NAVBAR LOGO */
  .navbar img {
    width: 60px;
    height: 60px;
  }

  /* NAVBAR APP NAME */
  .navbar h1 {
    font-size: 25px;
    padding-left: 70px;
  }

  .search-bar-container {
    position: relative;
    top: -15px;
    left: 12px;
  }

  .search-icon {
    position: absolute;
    left: 8px;
    top: 15px;
    font-size: 18px;
    color: var(--color-black);
    z-index: 1;
  }

  /* THEME CHANGER AND THEIR TEXT */

  .theme-container {
    position: absolute;
    right: 30px;
    top: 90px;
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .theme-container p {
    display: inline;
    font-size: 1.1rem;
  }

  /* NAVBAR SEARCHBAR */

  input[type="search"] {
    padding: 5px 1px 5px 30px;
    border-radius: 20px;
    border: 1px solid var(--color-search-bar-border);
    outline: none;
    width: 20px;
    transition: width 0.3s ease;
    position: absolute;
  }

  input[type="search"].focused {
    font-size: 15px;
    width: 130px;
  }

  /* CART ICON */
  .cart-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin-right: 0;
    margin-top: 0;
    background-color: var(--bg-pinkish-red);
    padding: 10px;
    border-radius: 50%;
  }

  /* CATEGORY BUTTONS */

  .category {
    padding-top: 3rem;
  }

  .category-buttons {
    flex-direction: row;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 2px;
  }

  .category-buttons button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem;
  }

  /* FOOD CONTAINER */
  .food-container {
    flex-direction: column;
    align-items: center;
  }

  /* CART PANEL */
  .cart-panel {
    height: 100vh;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  .cart-heading h3 {
    margin-left: 7rem;
    font-size: 1.7rem;
  }

  .cart-items {
    height: 750px;
  }

  .empty-cart h3 {
    margin-top: 17rem;
    margin-left: 5rem;
  }

  .checkout-summary .checkout-button {
    width: 295px;
  }

  /* MODAL STYLING */

  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }

  /* RECIPE PAGE */
  .recipe-page {
    padding: 1rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .close-icon1 {
    position: absolute;
    top: 0.5%;
    left: 49%;
    font-size: 2.2rem;
  }

  .recipe-page h2 {
    font-size: 1.7rem;
    margin-bottom: 3px;
  }

  .recipe-page p {
    font-size: 0.89rem;
  }

  .recipe-page h4 span {
    font-size: 0.9rem;
    display: flex;
    font-weight: 10;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .video-container {
    width: 300px;
    height: 200px;
    margin-top: -10px;
  }

  .recipe-details h2 {
    font-size: 1.3rem;
    font-weight: 400;
  }

  .recipe-details ol {
    font-size: 0.6rem;
    margin-left: 1rem;
  }

  /* CHECKOUT PAGE */

  .checkout {
    margin-top: 2rem;
  }

  .heading h1 {
    font-size: 2.3rem;
    margin-bottom: 1.2rem;
    margin-right: 0.5rem;
  }

  .checkout-container {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 20px;
  }

  .cartpage {
    margin: 0.8rem;
    width: 100%;
  }

  .cart-heading1 {
    font-size: 1.3rem;
  }

  .cart-items-container {
    max-height: 378px;
  }

  .left-section {
    padding: 8px;
  }

  .delivery-section,
  .payment-section,
  .order-review {
    width: 365px;
  }

  .save-button {
    margin-top: 0.8rem;
    margin-left: 15.4rem;
  }

  .radio-button {
    height: 1rem;
    width: 1rem;
  }

  .date-picker-container {
    margin-top: 10px;
  }

  .payment-section h2 {
    width: 345px;
  }

  .place-order-button {
    padding-top: 0.8rem;
    padding-left: 15rem;
  }

  /* About Page */

  .about-us {
    width: 100%;
    overflow-x: hidden;
  }

  .first-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
  }

  .left-side-content {
    padding: 25px;
    width: 87%;
  }

  .left-side-content .logo {
    height: 4rem;
    width: 4rem;
  }

  .about-us-content h3 {
    font-size: 4rem;
    padding-top: 2rem;
  }

  .about-us-text p {
    font-size: 1.5rem;
    line-height: 2.5rem;
    padding-bottom: 1rem;
  }

  .small-img {
    padding-top: 1.8rem;
    width: 100vw;
    gap: 10px;
    display: flex;
    flex-wrap: wrap;
  }

  .small-img img {
    width: 8.75rem;
    height: 6rem;
    flex-shrink: 0;
  }

  .right-side-content {
    padding: 25px;
    width: 87%;
    box-sizing: border-box;
  }

  .right-side-content img {
    border-radius: 10px;
    width: 19rem;
  }

  .second-container {
    padding-left: 18px;
    padding-top: 15px;
    gap: 20px;
    width: 89%;
    display: flex;
    flex-direction: column;
  }

  .second-container p {
    font-size: 20px;
  }

  .second-container .highlighted-text {
    font-size: 22px;
  }

  .third-container {
    padding: 10px 0 0 0;
  }

  .third-container video {
    width: 20rem;
    height: 20rem;
  }

  .third-container p {
    font-size: 1.2rem;
    padding: 25px;
    width: 87%;
  }

  .contact-us {
    display: flex;
    flex-direction: column;
  }

  .left-side-imag {
    padding: 0;
  }

  .left-side-imag img {
    width: 23.75rem;
    height: 10rem;
    border-radius: 0;
  }

  .contact-us-content {
    padding: 5px 25px;
    width: 87%;
    height: 30rem;
  }

  .contact-us-content p {
    font-size: 3rem;
  }

  .contact-form {
    height: 40rem;
    width: 87%;
    padding-top: 1rem;
  }

  .input {
    height: 1.5rem;
    width: 15.5rem;
    font-size: 1.3rem;
    background-color: var(--bg-white);
  }

  .textarea {
    height: 10rem;
    width: 16rem;
    font-size: 1.3rem;
    background-color: var(--bg-white);
  }

  .form-group img {
    height: 1.6rem;
    width: 1.6rem;
    position: absolute;
    right: 10px;
    z-index:2;
  }

  .send-button {
    padding: 10px 15px;
    width: 18rem;
    font-size: 1.5rem;
  }
}
